<div class="container">

    <h2>Вас приветствует приложение о фильмах</h2><br> 


    <div class="main-grid-box">
        <mat-toolbar>Сейчас в кино</mat-toolbar>
        <div class="top-rated-grid film-grid">
            <ng-container *ngFor = "let film of nowPlaying">
                <film-item  [film] = "film" [imgPath] = "imgPath" class="film-item"></film-item>
            </ng-container>
            <a mat-button href ="/films">Все фильмы</a>
        </div> 

        <mat-toolbar>Популярные фильмы</mat-toolbar>
        <div class="top-rated-grid film-grid">
            <ng-container *ngFor = "let film of popularFilms">
                <film-item  [film] = "film" [imgPath] = "imgPath" class="film-item"></film-item>
            </ng-container>
            <a mat-button href ="/films">Все фильмы</a>
        </div>

        <mat-toolbar>Популярные актеры</mat-toolbar>
        <div class="top-rated-grid actor-grid">
            <ng-container *ngFor = "let actor of popularActors">
                <person-item  [person] = "actor" [imgPath] = "imgPath" class="person-item"></person-item>
            </ng-container>
            <a mat-button href ="/actors">Все актеры</a>
        </div>
    </div>
</div>





