@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

body {
    margin: 0;
    background: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
}
h4, h3, h2, h1,
h4 a, h3 a, h2 a, h1 a
{color:#000;text-decoration: none}
h4 a:hover, h3 a:hover, h2 a:hover, h1 a:hover{
    text-decoration: underline;
}
.flex{display: flex;}
.flex.wrap{flex-wrap: wrap;}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.flex.space-between{
    justify-content: space-between;
}
.flex.align-center{
    align-items:center;
}
.text-center{text-align: center;}

mat-spinner{
    position:fixed !important;
    top:50%;
    left:50%;
    z-index: 999;
  }
  .loading{
    opacity: 0.5;
  }

mat-toolbar[_ngcontent-c4] .mat-form-field-infix{width:200px}
.container{
    width: 90%;
    max-width: 1200px;
    margin:0 auto;
}

.mat-toolbar.mat-primary{
    background: #204351;
}

.film-grid mat-card, .actor-grid mat-card{
padding: 0 24px;
height: 100%;
max-width: 80%;
margin: 1em auto;
text-align: center;
}


.film-grid .mat-card-image:first-child{
    margin-top:0;
}
.film-grid .mat-card>.mat-card-actions:last-child{
    position: absolute;
    bottom:15px;
    left:16px;
    width: 100%;
    margin-bottom:0;
}

.film-grid .mat-card .mat-card-header-text{
    margin:0 auto;
}

.label{
    box-sizing: border-box;
    padding: 3px 9px;
    font-size: 14px;
}
.label .material-icons{
    vertical-align: middle;
    margin-right:5px;
    color: rgb(244, 205, 54)
  }

.label .material-icons.grey{
    color:#a7bcc5 !important;
  }
  .label .material-icons.orange{
    color: rgb(244, 205, 54) !important;
  }
  .label .material-icons.green{
    color:rgb(8, 235, 39) !important;
  }

.actor-grid .mat-card-image:first-child{
    margin-top:0;
}
.actor-grid .mat-card>.mat-card-actions:last-child{
    position: absolute;
    bottom:15px;
    left:16px;
    width: 100%;
    margin-bottom:0;
}

.actor-grid .mat-card .mat-card-header-text{
    margin:0 auto;
}



 .mat-form-field-appearance-legacy .mat-form-field-label{
    top:1.7em !important;
  }

