mat-card{padding-top:0}
.film-card mat-card-content{
  max-height:110px;
  overflow: hidden;
  height: 102px;
  display: block;
  text-overflow: ellipsis;
  text-align: left;
}
mat-card-header{
  justify-content: center;
}
mat-card-header mat-card-title{
  text-align: center;
  margin:0 auto;
  margin-bottom:15px;
  font-size:19px;
}

.mat-card-image:first-child{
  margin-top:0;
}
.poster{
  position: relative;
}
.release{
  position: absolute;
  top:0;
  left: 0;
}
.average{
  position: absolute;
  top:0;
  right: 0;
}

.label{
  margin: 0 -24px 16px -24px;
  background: #254653;
  color: #fff;
}


.noImage{
  font-size: 150px;
  color: #a7bcc5;
  padding: 50px 0;
}

@media (max-width: 599px){
  .label {
    margin: 0 -16px;
  }
}